# Python
__pycache__/
*.pyc

# Virtual envs
venv/
.env
*.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editor settings
.vscode/
.idea/

# Local config
config/*.json
config/*.yaml
config/*.toml
config/*.secret
